*{
	box-sizing: border-box;
}
html {
  font-size: 12px;
}
body {
  font-family: 'Tahoma', sans-serif;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}

.slider-wrapper{
	position: relative;
    display: block;
	width: 90%;
	box-sizing: border-box;
    margin: 0 auto;
	
}
.section-header{
	text-align: center;
}

.blocks{
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 80%;
}

.slider-block{
    float: left;
    width:25%;
    display: block;
    min-height: 1px;
    text-align: center;
}

.cloudiness{
 height: 70px;
 
}
.cloudiness img{
	width:50px;
	padding:5px;
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.arrow {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border: none;
    position: absolute;
    z-index: 99;
    cursor: pointer;
    outline: none;
} 

.next {
    right: 10%;
    background: url(../img/next.svg) center no-repeat;
    background-size: 70%;
   
}
.next:hover{
	background: url(../img/next-hover.svg) center no-repeat;
	background-size: 70%;
}
.prev{
	left: 10%;
	background: url(../img/prev.svg) center no-repeat;
    background-size: 70%;
}
.prev:hover{
	background: url(../img/prev-hover.svg) center no-repeat;
	background-size: 70%;
}
.day{
	line-height: 22px;
}
.date, .dayTemp{
	font-weight: bold;
	font-size: 16px;
}
.nightTemp, .weather{
	color:#9c9898;
}
.nightTemp{
	margin-bottom: 20px;
	margin-top: 5px;
}